<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer</title>
<link rel="stylesheet" th:href="@{/css/displaytable.css}">
</head>
<body>
	<h1>Welcome to Home</h1>
	<br/>
	<div th:unless="${isPremium}" class="non-premium">
		<div class="overlay-container">
			<div class="overlay">
				<a href="pay"><button class="ghost" id="SignUp" style="text-decoration: none;">SUSCRIBE</button></a> 
				<br />
				<br />
				<br /> 
				<a href="logout"><button class="ghost" id="SignUp" style="text-decoration: none;">Logout</button></a>
			</div>
		</div>
	</div>
	<div  th:if="${isPremium}" class="premium">
	<main class="table">
		<section class="table_header">
		<h1>Songs</h1>
		</section>
		<section class="table_body">
			<table >
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="song:${songs}">
					<td th:text="${song.name}"></td>
					<td th:text="${song.artist}"></td>
					<td th:text="${song.genre}"></td>
					<td><audio controls>
							<source th:src="${song.link}" type="audio/mpeg">
						</audio></td>
				</tr>
			</tbody>
			</table> 
		</section>
	</main>
	</div>
</body>
</html>