<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of PlayLists</title>
<link rel="stylesheet" th:href="@{/css/displaytable.css}">
</head>
<body>
<main class="table">
<section class="table_header">
		<h1>PlayLists</h1>
		</section>
		<section class="table_body">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${playlists}">
				<td th:text="${playlist.id}"></td>
				<td th:text="${playlist.name}"></td>
				<td >
					<ul>
						<li th:each="song:${playlist.songs}">
							<span th:text="${song.name}"></span> 
							<audio controls>
									<source th:src="${song.link}" type="audio/mpeg">
							</audio>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</section>
</main>
</body>
</html>