<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Songs</title>
<link rel="stylesheet" th:href="@{/css/displaytable.css}">
<style type="text/css">
iframe {
	height: 100px;
	width: 500px;
}
</style>
</head>
<body>
<main class="table">
<section class="table_header">
		<h1>Songs</h1>
		</section>
		<section class="table_body">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td><audio controls>
						<source th:src="${song.link}" type="audio/mpeg">
					</audio></td>
			</tr>
		</tbody>
	</table>
	</section>
</main>
</body>
</html>