<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Welcome to TuneHub</h1>

<div class="overlay-container">
    <div class="overlay">

	<a href="login"><button class="ghost" id="logIn" style="text-decoration: none;">Login</button></a>


	<a href="registration"><button class="ghost" id="SignUp" style="text-decoration: none;">Register</button></a>

</div>
</div>

</body>
</html>