<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Song</title>
<link rel="stylesheet" href="../static/css/addsong.css">
</head>
<body>
	<form action="addSong" method="post" class="song-form">
        <div class="form-group">
            <label for="name">Song name :</label>
            <input type="text" id="name" name="name" required>
        </div>
		<br /> 
		<div class="form-group">
            <label for="artist">Song Artist :</label>
            <input type="text" id="artist" name="artist" required>
        </div> 
		<br /> 
		<div class="form-group">
            <label for="genre">Song Genere :</label>
            <input type="text" id="genre" name="genre" required>
        </div> 
		<br /> 
		<div class="form-group">
            <label for="link">Song Link :</label>
            <input type="text" id="link" name="link" required>
          </div>
		<br /> 
		<input type="submit" value="ADD SONG" class="btn btn-primary">
	</form>

</body>
</html>