<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up Form</title>
<link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<div class="container" id="container">
      <!-- sign in page -->
      <div class="form-container sign-in-container">
        <form action="register" method="post" class="form" id="login">
          <h1 class="form__title">Registration</h1><br/>
          <div class="form__input-group">
            <label for="username">User name </label>
            <input type="text" name="username" class="form__input" id="username" maxlength="100" required> 
          </div>
          <div class="form__input-group">
            <label for="email">Email </label>
            <input type="email" name="email" class="form__input" id="username" maxlength="100" required> 
          </div>
          <div class="form__input-group">
            <label for="pass">Password</label>
            <input type="password" name="password" class="form__input" id="pass" maxlength="100" required> 
          </div>
          <div class="radio">
            <label for="pass">Gender </label><br/>
            <input type="radio" name="gender" value="female">F 
		        <input type="radio"	name="gender" value="male">M 
		        <input type="radio" name="gender" value="other">O
          </div>
          <div class="radio">
            <label for="role">Role</label><br/>
            <input type="radio"	name="role" value="admin">Admin
		        <input type="radio"	name="role" value="customer">customer 
          </div>
          <div class="form address">
            <label for="username">Address </label>
            <textarea class="area" name="address"></textarea>
          </div>
          <div class="form__input-group">
            <button type="submit" class="form__button">Sign Up</button>
          </div>
       </form>
      </div>
      
     
      
     <div class="overlay-container">
          <div class="overlay">
              <div class="overlay-panel overlay-right">
                  <h1>Hello, Friend!</h1>
                  <p>Heartly welcome to TuneHub</p>
                  <p>Already a user !</p>
                  <button class="ghost" id="logIn" style="text-decoration: none;">
                    <a href="login">LOG IN</a>
                  </button>
              </div>
          </div>
      </div>
   </div>
</body>
</html>