<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>User Registration </h2>
	<form action="register" method="post">
		<label>User name : </label>
		<input type="text" name="username">
		<br /> 
		<label>Email : </label>
		<input type="email" name="email">
		<br /> 
		<label>Password : </label>
		<input type="password" name="password"> 
		<br /> 
		<label>Gender : </label> 
		<input type="radio" name="gender" value="female">F 
		<input type="radio"	name="gender" value="male">M 
		<input type="radio" name="gender" value="other">O 
		<br /> 
		<label>Role : </label> 
		<input type="radio"	name="role" value="admin">Admin 
		<input type="radio"	name="role" value="customer">Customer 
		<br /> 
		<label>Address : </label><textarea name="address"></textarea>
		<br /> 
		<input type="submit" value="Register">
	</form>
</body>
</html>