@charset "ISO-8859-1";
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

h1{
	color: white;

}

body {
	background-image: url('./image/grass.jpg');
	background-size: cover;
  	backdrop-filter: blur(7px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	overflow: hidden;
}

main.table{
	height: 90vh;
	width: 82vw;
	border-radius: .8rem;
	background-color: #fff5;
	box-shadow: 0 .4rem .8rem #0005;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.table_header {
	width: auto;
	height: 10%;
	background-color: #fff4;
	text-align: center;
	padding:.8rem 1rem;
	display: flex;
    justify-content: space-between;
    align-items: center;

}

.table_body{
	padding:20px;
	width: 95%;
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}

.table_body::-webkit-scrollbar{
	width: 0.5rem;
	height:0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
	border-radius: .8rem;
	background-color: #0004;
	visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
	visibility: visible;
}


table, th,td{
	border-collapse: collapse;
	padding: 1rem;
}

table{
	width:100%;
}

table th{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr:nth-child(even){
	background-color: #fff6;
}

@media(max-width: 1000px){
	td:not(:first-of-type){
		min-width:12.1rem;
	}
}

button {
	border-radius: 20px;
	border: 1px solid #642bff;
	background-color: #2b40ff;
	color: #FFFFFF;
    margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

